@import "./common.scss";
@import "./colors.scss";
@import "./typography.scss";
@import "./cursor.scss";

body {
  color: white;
  background: black;
}
* {
  margin: 0;
  padding: 0;
  &::selection {
    color: white;
    background-color: red;
    border-radius: 1em;
  }
}
ul {
  list-style: none;
}

// Font's
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap");

// Component's
@import "../components/NavBar/NavBar.scss"; // Header
@import "../components/HeaderPage/HeaderPage.scss"; // HeaderPage
@import "../components/Button/Button.scss"; // Button
@import "../components/FilterPage/FilterPage.scss"; // FilterPage
@import "../components/EmailForm/EmailForm.scss"; // EmailForm
@import "../components/Footer/Footer.scss"; // Footer
@import "../components/Card/Card.scss"; // Card
@import "../components/Card/CardBrand.scss"; // CardBrand
@import "../components/Tag/Tag.scss"; // Tag

// For Page Home
@import "../components/Home/SliderPage/SliderPage.scss"; // sliderPage
@import "../components/Home/BrandPage/BrandPage.scss"; // brandPage
@import "../components/Home/PostGridPage/PostGridPage.scss"; // brandPage
// Card 1 - 4 post
@import "../components/Home/TagPage/TagPage.scss"; // TagPage
// Card 4 - 8 post
