// System //
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600 !important;
}
h1 {
  font-size: 72px;
  line-height: 80px;
}
h2 {
  font-size: 64px;
  line-height: 72px;
}
h3 {
  font-size: 56px;
  line-height: 64px;
}
h4 {
  font-size: 48px;
  line-height: 56px;
}
h5 {
  font-size: 48px;
  line-height: 56px;
}
h6 {
  font-size: 48px;
  line-height: 56px;
}
p {
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
}

// Headline //
.headline-1 {
  font-size: 72px !important;
  line-height: 80px !important;
}
.headline-2 {
  font-size: 64px !important;
  line-height: 72px !important;
}
.headline-3 {
  font-size: 56px !important;
  line-height: 64px !important;
}
.headline-4 {
  font-size: 48px !important;
  line-height: 56px !important;
}

.headline-5 {
  font-size: 40px !important;
  line-height: 48px !important;
}
.headline-6 {
  font-size: 32px !important;
  line-height: 130%;
}
// Body //
.body-1 {
  font-size: 24px;
  line-height: 130%;
  font-weight: 500;
}
.body-2 {
  font-size: 24px;
  line-height: 130%;
  font-weight: 600;
}
// Description //
.description-1 {
  font-size: 14px;
  line-height: 130%;
  font-weight: 500;
}
.description-2 {
  font-size: 16px;
  line-height: 130%;
  font-weight: 600;
}
// Caption //
.caption-1 {
  font-size: 14px;
  line-height: 130%;
  font-weight: 500;
}
.caption-2 {
  font-size: 14px;
  line-height: 130%;
  font-weight: 600;
}
