.cardBrand {
  width: 320px;
  height: 168px;
  padding: 1em;
  border-radius: 1em;
  background-color: #ffffff10;
  transition: 0.3s;

  &:hover {
    background-color: #ffffff16;
  }
}

@media screen and (max-width: 800px) {
  .cardBrand {
      width: 160px;
      height: 112px;
      border-radius: 0.5em;
  }
}